*,
* ::before,
* ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* body */

:root {
	--header-bg-color: #44baff;
	--base-bg-color: #fff;
	--border-color: rgba(0, 0, 0, .3);
	--default-font-size: 15px;
	--header-height: 72px;
	--main-shadow-color: rgba(0, 0, 0, .14);
	--recommend-base-color: #fafcff;
	--sub-color: #fff;
	--sub-bg-color: rgba(0, 0, 0, .3);
	--text-color: #333;
	--outline-color: #00acee;
	--modified-base-color: #ddd;
	--sidenav-btn__span-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--header-bg-color: #44baff;
		--base-bg-color: #333;
		--border-color: rgba(255, 255, 255, .3);
		--default-font-size: 15px;
		--header-height: 72px;
		--main-shadow-color: rgba(0, 0, 0, .14);
		--recommend-base-color: #505050;
		--sub-color: #fff;
		--sub-bg-color: rgba(0, 0, 0, .3);
		--text-color: #eee;
		--outline-color: #00acee;
		--modified-base-color: #9e9e9e;
		--sidenav-btn__span-color: #eee;
	}
}

html {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
}

body {
	font-family: "Noto Sans JP", 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo UI',YuGothic,'Yu Gothic','Arial','Helvetica Neue','Helvetica',sans-serif;
	font-size: var(--default-font-size);
	color: var(--text-color);
	min-width: 320px;
	margin: 0;
	position: relative;
	background-color: var(--base-bg-color);
}

body.is-open {
	overflow: hidden;
}

/* main */

main {
	margin: 0 auto;
	width: 100%;
	flex-grow: 1;
	min-height: 100vh;
}

a,img,span {
	display: block;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

ul {
	list-style: none;
}