@charset "utf-8";

@import url("./base.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./sidebar.scss");

body {
	position: relative;
}

.load-svg {
	position: absolute;
	top: 15%;
	left: 40%;
	z-index: 90;
	width: 190px;
	height: 190px;
	opacity: 0;
	transition: opacity 1.2s ease;
	display: block;
	margin: 0 auto;

	@media (max-width:380px) {
		left: 20%;
	}
}

.load-svg.is-loading {
	opacity: 1;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.fade {
	opacity: 0;
	transition: opacity 0.7s ease;
}

.fade.is-show {
	opacity: 1;
}

/* section */

/* ------------------------ 

	SING PAGE

------------------------ */

.container {
	background-color: #eee;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 15vh 0 .5rem;

	&-box {
		padding-left: .5rem;
		width: fit-content;
		
		.title {
			font-size: clamp(20px, 5vw, 25px);
		}
	}
}

.title,
.modified {
	width: fit-content;
}

.modified {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: center;
	background-color: #ddd;
	padding: 5px 10px;
	margin-top: 0.5rem;
	font-weight: 600;
	font-size: 17px;

	@media (max-width:350px) {
		font-size: 13px;
	}

	& .paragraph {
		margin-top: 0;
	}
	
	time {
		display: flex;
		margin-left: 1rem;
		align-items: center;
	}
	
	.day-of-the-week {
		margin: -8px 0 0 .25rem;
	}
}

/* ------------------------

	All Page

------------------------ */

.page,
.page-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	text-align: left;
	width: fit-content;
}

#page,
#page-guide,
#page-song {
	padding: 2rem 0 0 2rem;
}

.page-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.page-link {
	color: var(--text-color);
	position: relative;
	width: fit-content;
}

.page-link::after {
	background-color: currentColor;
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 1px;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .3s ease;
}

.page-link:hover:after {
	transform: scaleX(1);
	transform-origin: left;
}

/* ----------------------

	Main Page

---------------------- */

.fig_flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: var(--header-height) auto 0;
	width: fit-content;

	@media (min-width:990px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 5em;
	}
}

.expo_body {
	width: fit-content;
	padding: 0 1rem;
	margin: 0 auto;

	@media (min-width:768px) {
		width: fit-content;
	}
}

.main_expo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
	
	@media (min-width:768px) {
		justify-content: initial;
	}

	@media (max-width:480px) {
		margin: 0 auto;
	}
}

.img_box {
	display: flex;
	flex-direction: column;
	gap: 1em;
}


@media screen and (max-width:480px) {
	.img_box {
		display: none;
	}
}

.img_block {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transition: transform .3s ease;
}

.img_block:hover {
	transform: scale(1.05);
}

.character_img {
	display: block;
	width: 50%;
	height: auto;

	@media (min-width:768px) {
		width: 100%;
		height: auto;
	}

	@media (max-width:480px) {
		width: 90%;
		height: auto;
		min-height: 400px;
	}
}

.sub_box {
	background: #fafcff;
	margin: 2em auto;
	padding: 2rem 1rem;
	display: block;
	width: 90%;
	max-width: 500px;
	height: auto;
	text-align: center;
	align-items: stretch;

	@media (min-width:768px) {
		margin: 2em 0;
	}

}

.logo_img {
	width: 60%;
	height: auto;
	aspect-ratio: 16 / 9;
	margin: 0 auto;
}

.character_name {
	font-size: 40px;
	color: var(--bg-color);
}

.character_sub-name {
	font-size: 20px;
	font-weight: 600;
	color: var(--bg-color);
}

.link-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 1em;
	width: 100%;
	text-align: left;
	gap: 1em;
}

.link-btn {
	background: #333;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	width: 100%;
	max-width: 170px;
	margin: 0 auto;
	gap: 1em;
	box-shadow: 0 5px 10px var(--main-shadow-color);
	border-radius: 50px;
	border: 2px solid #333;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.link-btn::after {
	background-color: #fff;
	box-shadow: none;
	position: absolute;
	left: 0;
	inset: 0;
	content: "";
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s ease;
}

.link-btn:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.link-yt {
	width: 30px;
	height: auto;
	z-index: 2;
}

.link-x {
	width: 25px;
	height: auto;
	z-index: 2;
}

.link-btn:hover .link-yt,
.link-btn:hover .link-x {
	filter: brightness(1) invert(1);
}

.link-txt {
	color: #fff;
	font-weight: 600;
	transition: .4s ease;
	z-index: 3;
}

.link-btn:hover .link-txt {
	color: #333;
}

.txt-art {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 90%;
	gap: 1em;
	margin: 2em auto;
}

.txt-art p {
	color: #94a4ff;
}

.prologue,
.explanation {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	
	@media (max-width:365px) {
		font-size: 14px;
	}
}

.explanation time {
	width: fit-content;
	margin-left: 0;
}

.row {
	display: flex;
	flex-direction: row;
	width: fit-content;
}

video {
	width: 90%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.section {
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
}

/*
	guide-line
*/

.guide {
	text-align: left;
	color: #94a4ff;
	padding: 0 1rem;

	&-points {
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		line-height: 2;
	}
	
	&-points li {
		color: #94a4ff;
	}
	
	&-sub-title {
		width: fit-content;
		margin: 0 auto;
	}
}

.paragraph {
	font-weight: 600;
}

.guide-sub-title,
.paragraph {
	font-size: 16px;
	margin-top: 1rem;

	@media (max-width:500px) {
		font-size: 12px;
	}
}

/* /--guide-line */

/*
	Main Page
*/

.recommend {
	background-color: #fafcff;
	padding-bottom: 1rem;
}

.section-title {
	text-align: center;
	margin: 0 auto;
	padding: 1rem 0;
	width: fit-content;
	font-size: 30px;
	font-weight: 900;
}

.grid_movie {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	margin: 0 auto;
	gap: 1.2rem;
}

.col {
	margin: 0 auto;
	width: 90%;
	height: auto;
	aspect-ratio: 16 / 9;
	transition: transform .15s ease;

	@media (min-width:768px) {
		border: none;
	}

	&:hover {
		transform: scale(1.08);
	}
}

.data {
	&-base {
		width: 100%;
		max-width: fit-content;
		margin: 0 auto;
		padding: 0 1rem;
		text-align: left;
		display: flex;
		flex-direction: row;
		gap: 1rem;
	
		@media (max-width:820px) {
			display: flex;
			flex-direction: column;
		}
	}
	
	&-block {
		display: flex;
		flex-direction: row;
		width: 100%;
		max-width: 420px;
		gap: 1rem;
		padding: 0 1rem .3rem 1rem;
		border-bottom: 1px solid var(--border-color);
		align-items: flex-end;
		color: #94a4ff;
	}
	
	&-title {
		font-size: 17px;
		font-weight: 700;
	
		@media (max-width:430px) {
			font-size: 13px;
		}
	}
	
	&-protocol {
		border-left: 2px solid var(--border-color);
		padding-left: 0.45rem;
		font-size: 16px;
	
		@media (max-width:430px) {
			font-size: 12px;
		}
	}

	&-row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: .3rem;
	}
	
	&-protocol time {
		margin-left: 0;
	}
	
	&-main,
	&-sub {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.hash {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: .4rem;
}

.tag,.like,
.weak-point {
	display: flex;
	flex-direction: row;
	align-items: start;
}

.unit-link,
.hash-link {
	color: #94a4ff;
	width: fit-content;
	position: relative;
}

.unit-link::after,
.hash-link::after {
	position: absolute;
	background-color: currentColor;
	content: "";
	inset: 0;
	width: 100%;
	overflow: hidden;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .3s ease;
	z-index: 1;
}

.unit-link:hover::after,
.hash-link:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.unit-link:hover .unit-text, 
.hash-link:hover .hash-text {
	color: #fff;
	position: relative;
	z-index: 2;
}

/* guide-line Contents */

.out-list {
	width: fit-content;
	margin: 2rem auto 0;
	text-align: left;
	width: 100%;
	max-width: 800px;
	padding: 1rem 1rem 1rem 2rem;
	background-color: #ddecff;
	border: 2px solid navy;
	box-shadow: 10px 10px 0 navy;
}

.list-title {
	width: fit-content;
	font-size: clamp(20px, 5vw, 30px);
}

.out-list li {
	font-size: 16px;
	font-weight: 600;
	list-style: outside;

	@media (max-width:450px) {
		font-size: 12px;
	}

	&:first-child,
	&:nth-child(2),
	&:nth-child(4) {
		list-style: none;
	}
}

.li-nth {
	padding: 1rem 0;
}

/* notes-list */

.notes-list {
	margin: 2rem auto 0;
	padding: 0 1rem 0 2rem;
	width: 100%;
	max-width: 800px;
}

.notes-list li {
	list-style: none;
}

.notes-list li:nth-child(2) {
	display: flex;
}

.notes-link {
	color: #94a4ff;
	width: fit-content;
	position: relative;
	padding: 0 1rem;
	z-index: 1;
}

.notes-link::after {
	position: absolute;
	inset: 0;
	background-color: currentColor;
	content: '';
	width: 100%;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .3s ease;
}

.notes-link:hover::after {
	transform: scaleX(1);
}

.notes-link:hover .link-text {
	color: #fff;
	transition: color .3s ease;
	position: relative;
	z-index: 2;
}

.notes-list li {
	width: fit-content;

	&:nth-child(2) {
		@media (max-width:430px) {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 0 auto;
		}
	}
}

.notes-link {
	@media (max-width:430px) {
		margin: 0 auto;
		text-align: center;
	}
}

/* fa-list */

.fa-list li {
	width: fit-content;
	list-style: none;

	& span {
		width: fit-content;
	}
	
	&:nth-child(3) {
		padding-top: 2rem;
	}
}


/* stream-list */

.stream-list li {
	width: fit-content;

	& span {
		width: fit-content;
	}
	
	&:nth-child(2) {
		list-style: outside;
	}
	
	&:nth-child(4) {
		list-style: outside;
	}
}


.stream-list li:last-child {
	list-style: none;
}

.pick-up {
	width: 100%;
	padding: 0 1rem;
}

.card {
	width: 100%;
	max-width: 600px;
	height: auto;
	align-items: stretch;
	margin: 0 auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .14);
}

.pick-video {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.time-node {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	width: fit-content;
	margin: 0 auto;
	padding: .5rem 1rem;
}

.new-title {
	width: fit-content;
	padding: 5px 10px;
	background-color: #94a4ff;
	color: #fff;
}

.new-time {
	margin-left: 0;
}

.song-video {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

.song {
	padding: 0 1rem
}

.song-box {
	text-align: left;
	margin: 0 auto;
	padding-bottom: 1rem;
	width: 100%;
	max-width: fit-content;

	& li {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		font-size: 16px;
		font-weight: 600;
		color: #94a4ff;
	}
	
	& li span:nth-child(2) {
		display: flex;
		flex-direction: row;
	
		@media (max-width:360px) {
			display: flex;
			flex-direction: column;
		}
	}
}


.song-link {
	background-color: #94a4ff;
	margin: 0 auto;
	padding: 5px 1rem;
	width: fit-content;
	border: 2px solid #94a4ff;
	border-radius: 50px;
	overflow: hidden;
	position: relative;

	&::after {
		position: absolute;
		background-color: #fff;
		content: '';
		inset: 0;
		width: 100%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .4s ease;
	}
	
	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
	
	.song-link-txt {
		color: #fff;
		position: relative;
		z-index: 2;
	}
	
	&:hover .song-link-txt {
		color: #94a4ff;
		transition: .4s ease;
	}
}


.song-box li span:nth-child(1),
.song-box li span:nth-child(2) {
	@media (max-width:360px) {
		font-size: 13px;
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 70px 0 0 0;

	@media (min-width:768px) {
		display: grid;
		grid-template-columns: 200px 1fr;
	}
}

.top-scroll-box {
	background-color: #eee;
	position: relative;
	width: 100px;
	height: 100px;
	top: 0;
	right: -10px;
}

.top-btn {
	display: flex;
	flex-direction: column;
	width: 65px;
	height: 65px;
	background-color: #94a4ff;
	border: 1px solid #eee;
	overflow: hidden;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: fixed;
	right: 20px;
	bottom: 380px;
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	transition: .4s ease, visibility .4s ease;

	&.is-show {
		opacity: 1;
		visibility: visible;
	}

	.arrow {
		width: 20px;
		height: auto;
	}
	
	.top-txt {
		display: block;
		font-size: 13px;
		font-weight: 900;
		color: #fff;
	}
	
	&:hover .top-txt {
		text-decoration: underline;
	}
}
